{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'muvekkil/img/favicon.png' %}" type="image/png">
        <title>Müvekkilim</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'muvekkil/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'muvekkil/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'muvekkil/css/font-awesome.min.css' %} ">
        <link rel="stylesheet" href="{% static 'muvekkil/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'muvekkil/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'muvekkil/vendors/nice-select/css/nice-select.css'%} ">
        <link rel="stylesheet" href="{% static 'muvekkil/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'muvekkil/vendors/flaticon/flaticon.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'muvekkil/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'muvekkil/css/responsive.css' %}">
        <style type="text/css">
          .mobileShow {display: none;}

          /* Smartphone Portrait and Landscape */
          @media only screen
            and (min-device-width : 320px)
            and (max-device-width : 480px){
              .mobileShow {display: inline;}
          }
        </style>

    </head>
    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->

						<a class="navbar-brand logo_h" href="/"><img width="100" src="{% static 'muvekkil/img/logo.png' %}" alt=""></a>

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">

                        <ul style="margin-top: 17px; margin-left: 40%" class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="{% url 'logout' %}" class="tickets_btn">Çıkış Yap</a></li>
                        </ul>

                        <div class="mobileShow">
                            <ul class="nav navbar-nav menu_nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a></li>
                            </ul>
                        </div>

						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="banner_content">
								<h2 class="text-center">Salt Hukuktan Haberleri Al <br /></h2>
								<h3 class="text-center"><small>Salt Hukuk Müvekkilim® Sayesinde; davam ne oldu; avukatım bugün ne yaptıya ulaşmak çok kolay...</small></h3>

							</div>
						</div>
						<div class="col-lg-7">
							<div class="home_left_img">
								<img class="img-fluid" src="{% static 'muvekkil/img/banner/banner.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Work Area =================-->
        <section class="work_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Dava Dosyalarım</h2>
        			<p>Aşağıda güncel dava dosyalarınızı görebilir ve bunlara tıklayarak son gelişmeleri takip edebilirsiniz.</p>
        		</div>
        		<div class="work_inner row">

                    {% for dava in davalar %}

        			<div class="col-lg-4">
        				<div class="work_item">
                            <a href="/davadetay/{{ dava.id }}"><i class="lnr lnr-pushpin"></i></a>
        					<a href="/davadetay/{{ dava.id }}"><h4>{{ dava.dava_title }}</h4></a>
                            <strong>{{ dava.dava_esasno }}</strong>
        					<p>{{ dava.dava_description }}</p>
        				</div>
        			</div>

                    {% endfor %}

        		</div>
        	</div>
        </section>
        <!--================End Work Area =================-->
        

        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-4 col-sm-6">

        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3 class="text-center">Salt Hukuk</h3>
                                <h4 class="text-center">Müvekkilim Uygulaması</h4>
        					</div>
        					<p class="text-center">Salt Hukuk Müvekkilim® uygulaması sayesinde; dava dosyalarınız hakkında detaylı bilgi edinebilir; dava dosyalarınıza ulaşabilirsiniz.</p>

        				</aside>
        			</div>

        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'muvekkil/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'muvekkil/js/popper.js' %}"></script>
        <script src="{% static 'muvekkil/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'muvekkil/js/stellar.js' %}"></script>
        <script src="{% static 'muvekkil/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'muvekkil/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'muvekkil/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'muvekil/vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'muvekil/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'muvekil/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'muvekil/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'muvekil/vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'muvekil/js/mail-script.js' %}"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static 'muvekkil/js/gmaps.min.js' %}"></script>
        <script src="{% static 'muvekkil/js/theme.js' %}"></script>
    </body>
</html>


